@{
    ViewBag.Title = "О компании";
}

<main class="page_about-company">
    <div class="page_content-about-company">
        <div class="content-header_about-company">
            <div class="header-title_about-company">
                О компании
                <div class="title-line_about-company"></div>
            </div>
        </div>
        <div class="content-main_about-company">
            <div class="text-main_about-company">
                Группа компаний <span>CARBY</span> – начинающая компания на мировом авторынке. В ее дилерском портфеле – 14 автомобильных брендов.
                <br>
                <br>
                Компания объединяет 5 автосалонов: 2 в Минске и 3 в регионах.
            </div>
            <div class="list-main_about-company">
                <div class="list-title_about-company">
                    <br>
                    ОСНОВНЫЕ НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ АВТОСАЛОНА CARBY:
                </div>
                <ol class="list-items_about-company">
                    <li class="list-item_about-company">Продажа новых автомобилей и моделей с пробегом</li>
                    <li class="list-item_about-company">Гарантийное и сервисное обслуживание</li>
                    <li class="list-item_about-company">Слесарный и кузовной ремонт любой сложности</li>
                    <li class="list-item_about-company">Розничная и оптовая продажа запчастей и аксессуаров</li>
                    <li class="list-item_about-company">Техническая помощь на дорогах, эвакуация автомобилей</li>
                    <li class="list-item_about-company">Обмен (trade-in) и выкуп подержанных автомобилей</li>
                    <li class="list-item_about-company">Прокат автомобилей</li>
                    <li class="list-item_about-company">Предоставление услуг по автострахованию совместно со страховыми компаниями</li>
                    <li class="list-item_about-company">Предоставление кредитных и лизинговых программ совместно с банками-партнерами</li>
                    <li class="list-item_about-company">Тюнинг, установка охранных устройств и дополнительного оборудования</li>
                </ol>
                <div class="list-footer_about-company">
                    Штат компании составляет более 300 человек. Сотрудники регулярно проходят специализированное обучение по маркам у автопроизводителей. Кроме того, в компании открыт собственный учебный центр, где проходят модульные профессиональные курсы, тренинги и семинары, мастер-классы экспертов бизнеса. Для специалистов Автомира действует программа подготовки Кадрового резерва.
                </div>
            </div>
        </div>
    </div>
    <div class="page_info-menu">
        <div class="info-menu_body">
            <div class="info-menu_line">
                <div class="info-menu_label">Информация:</div>
                <ul class="info-menu_list">
                    <li><a href="/Home/Promotions" class="info-menu_link">Акции</a></li>
                    <li><a href="/Home/Reviews" class="info-menu_link">Отзывы</a></li>
                    <li><a href="/Documents.docx" class="info-menu_link">Документы</a></li>
                    <li><a href="/Home/AboutCompany" class="info-menu_link">О компании</a></li>
                </ul>
            </div>
            <div class="info-menu_line">
                <div id="helpOplata">
                    <div id="okno">
                        Оплата производится только на прямую в салоне,<br>
                        после составления всех договоров, документов<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpGarantia">
                    <div id="okno">
                        Гарантия дается на все автомобили, в зависимости от<br>
                        установленого, производителем, срока.<br>
                        В случае поломки, установленной в договоре,<br>
                        автомобиль необходимо своеврменно отдать<br>
                        на ремонт в салон.<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpVozvrat">
                    <div id="okno">
                        Возврат осуществляется только в случае поломки<br>
                        автомобиля, прописаной в договоре.<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpBron">
                    <div id="okno">
                        Перейдите в каталог, выберите подходящий автомобиль,<br>
                        в таблице выберите подходящую модель, и нажмите<br>
                        на кнопку "Забронировать"<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div class="info-menu_label">Помощь:</div>
                <ul class="info-menu_list">
                    <li><a href="#helpBron" class="info-menu_link">Как забронировать</a></li>
                    <li><a href="#helpOplata" class="info-menu_link">Оплата</a></li>
                    <li><a href="#helpGarantia" class="info-menu_link">Гарантия</a></li>
                    <li><a href="#helpVozvrat" class="info-menu_link">Возврат</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>



