@{
    ViewBag.Title = "Акции";
}

<main class="page-promotions">
    <div class="page_content-promotions">
        <div class="content-header_promotions">
            <div class="header-title_promotions">
                Акции
                <div class="title-line_promotions"></div>
            </div>
        </div>
        <div class="content-main_promotions">
            <div class="main-items_promotions">
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/volkswagenJetta.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">Специальное предложение на новый Volkswagen Jetta</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">Специальное предложение на новый Volkswagen Jetta</div>
                        <div class="car-item_promotions">Только в мае во всех дилерских центрах Volkswagen действует уникальное предложение на покупку нового Jetta!</div>
                        <div class="text-item_promotions">
                            У вас есть возможность приобрести Volkswagen Jetta в кредит в белорусских рублях всего под 14,08%! Первоначальный взнос при этом составит 10%, а срок кредитования до 7 лет с возможностью досрочного погашения.
                            <br>
                            <br>
                            Предложение ограничено! Поэтому если вы давно мечтали о новом Volkswagen Jetta – сейчас самое время!
                            <br>
                            <br>
                            Подробности на <a href="http://volkswagen-minsk.by">www.volkswagen-minsk.by</a>
                        </div>
                    </div>
                </div>
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/Multivan.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">Multivan и Caravelle в рассрочку без процентов!</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">Multivan и Caravelle в рассрочку без процентов!</div>
                        <div class="car-item_promotions">Только этой весной Multivan и Caravelle в рассрочку 0% в белорусских рублях сроком на 12 месяцев!</div>
                        <div class="text-item_promotions">
                            Рассрочка – это наиболее быстрый и выгодный способ купить автомобиль. Наслаждайся и пользуйся уже сейчас, а платите потом и без переплат!
                            <br>
                            <br>
                            Предложение ограничено! Поэтому если вы давно мечтали о новом Volkswagen Jetta – сейчас самое время!
                            <br>
                            <br>
                            Подробности на <a href="http://volkswagen-minsk.by">www.volkswagen-minsk.by</a>
                        </div>
                    </div>
                </div>
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/Mazda.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">Mazda CX-5 в кредит от 0,01%!</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">Mazda CX-5 в кредит от 0,01%, платеж всего от 550 BYN в месяц!</div>
                        <div class="car-item_promotions">С кредитной программой от MAZDA Вы можете приобрести Ваш идеальный городской кроссовер в максимально короткие сроки и по наиболее выгодным условиям!</div>
                        <div class="text-item_promotions">
                            Условия кредитной программы:
                            <br>
                            <br>
                            - ставка по кредиту – от 0,01%;
                            <br>
                            - платеж в месяц – от 550 BYN;
                            <br>
                            - максимальный срок – 4 года;
                            <br>
                            - первоначальный платеж – от 50%;
                            <br>
                            <br>
                            Подробности на <a href="http://mazda.by">www.mazda.by</a>
                        </div>
                    </div>
                </div>
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/Lexus.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">LEXUS ES с выгодой до 7 220 BYN – Ваш оптимальный выбор!</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">LEXUS ES с выгодой до 7 220 BYN – Ваш оптимальный выбор!</div>
                        <div class="car-item_promotions">Лизинг сроком до 3 лет или преимущество до 7 220 BYN в Trade-in.</div>
                        <div class="text-item_promotions">
                            ВЫГОДА В TRADE-IN ДО 7 220 BYN:
                            <br>
                            <br>
                            1. Выгода 7 220 BYN – при сдаче авто с пробегом марок Toyota/Lexus 2016-2021 г. выпуска, а также Audi, BMW, Mercedes-Benz, Infinity, Land Rover, Jaguar, Volvo, Porsche.
                            <br>
                            2. Выгода 5 700 BYN – при сдаче Toyota/Lexus с пробегом старше 2015 г. выпуска, и марок, не указанных в пунктах 1 и 3.
                            <br>
                            3. Выгода 2 850 BYN – при сдаче авто с пробегом иных марок.
                            <br>
                            <br>
                            Подробности на <a href="http://lexus-minsk.by">www.lexus-minsk.by</a>
                        </div>
                    </div>
                </div>
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/KiaX.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">Новый KIA Rio X всего за 16 рублей в день!</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">Новый KIA Rio X всего за 16 рублей в день!</div>
                        <div class="car-item_promotions">Спешите в автоцентры KIA за своим Rio X на очень выгодных условиях.</div>
                        <div class="text-item_promotions">
                            С 1 марта во всех дилерских центрах KIA действуют финансовые программы, позволяющие приобрести отличный авто с выплатами всего по 16 рублей/день: кредит на 7 лет под 17% годовых и авансом всего 30% от стоимости автомобиля.
                            <br>
                            <br>
                            Обратите внимание на самые популярные комплектации Comfort Prize и Prestige.
                            <br>
                            <br>
                            Подробности на <a href="http://kia.by">www.kia.by</a>
                        </div>
                    </div>
                </div>
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/HyundaiAccent.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">Скидки на Hyundai ACCENT до 2500 BYN и кредит от 8 рублей в день!</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">Скидки на Hyundai ACCENT до 2500 BYN и кредит от 8 рублей в день!</div>
                        <div class="car-item_promotions">Hyundai ACCENT доступны сегодня со скидками до 2500 рублей и в кредит от 8 рублей в день!</div>
                        <div class="text-item_promotions">
                            Выбираете новый автомобиль? Присмотритесь к отличникам из «В»-класса.
                            <br>
                            Все скидки при покупке в кредит сохраняются!
                            <br>
                            <br>
                            Дополнительную скидку в 1000 рублей можно получить при сдаче вашего старого автомобиля в trade-in.
                            <br>
                            <br>
                            Подробности на <a href="http://hyundai.by">www.hyundai.by</a>
                        </div>
                    </div>
                </div>
                <div class="main-item_promotions">
                    <div class="image-item_promotions">
                        <img src="/Content/promotions/HyndaiCreta.jpg" alt="" width="206px" height="148px" class="image_promotions">
                        <div class="image-text_promotions">Скидки на Hyundai CRETA до 2000 BYN и кредит от 8 рублей в день!</div>
                    </div>
                    <div class="item-textcontent_promotions">
                        <div class="title-item_promotions">Скидки на Hyundai CRETA до 2000 BYN и кредит от 8 рублей в день!</div>
                        <div class="car-item_promotions">Hyundai CRETA доступны сегодня со скидками до 2000 рублей и в кредит от 8 рублей в день!</div>
                        <div class="text-item_promotions">
                            Выбираете новый автомобиль? Тысячи автомобилистов ежегодно выбирают этот стильный компактный кроссовер.
                            <br>
                            Все скидки при покупке в кредит сохраняются!
                            <br>
                            <br>
                            Дополнительную скидку в 1000 рублей можно получить при сдаче вашего старого автомобиля в trade-in.
                            <br>
                            <br>
                            Подробности на <a href="http://hyundai.by">www.hyundai.by</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page_info-menu">
        <div class="info-menu_body">
            <div class="info-menu_line">
                <div class="info-menu_label">Информация:</div>
                <ul class="info-menu_list">
                    <li><a href="/Home/Promotions" class="info-menu_link">Акции</a></li>
                    <li><a href="/Home/Reviews" class="info-menu_link">Отзывы</a></li>
                    <li><a href="/Documents.docx" class="info-menu_link">Документы</a></li>
                    <li><a href="/Home/AboutCompany" class="info-menu_link">О компании</a></li>
                </ul>
            </div>
            <div class="info-menu_line">
                <div id="helpOplata">
                    <div id="okno">
                        Оплата производится только на прямую в салоне,<br>
                        после составления всех договоров, документов<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpGarantia">
                    <div id="okno">
                        Гарантия дается на все автомобили, в зависимости от<br>
                        установленого, производителем, срока.<br>
                        В случае поломки, установленной в договоре,<br>
                        автомобиль необходимо своеврменно отдать<br>
                        на ремонт в салон.<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpVozvrat">
                    <div id="okno">
                        Возврат осуществляется только в случае поломки<br>
                        автомобиля, прописаной в договоре.<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpBron">
                    <div id="okno">
                        Перейдите в каталог, выберите подходящий автомобиль,<br>
                        в таблице выберите подходящую модель, и нажмите<br>
                        на кнопку "Забронировать"<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div class="info-menu_label">Помощь:</div>
                <ul class="info-menu_list">
                    <li><a href="#helpBron" class="info-menu_link">Как забронировать</a></li>
                    <li><a href="#helpOplata" class="info-menu_link">Оплата</a></li>
                    <li><a href="#helpGarantia" class="info-menu_link">Гарантия</a></li>
                    <li><a href="#helpVozvrat" class="info-menu_link">Возврат</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>