@{
    ViewBag.Title = "Отзывы";
}

<main class="page-reviews">
    <div class="page_content-reviews">
        <div class="content-header_reviews">
            <div class="header-title_reviews">
                Отзывы о <span>CARBY</span>
                <div class="title-line_reviews"></div>
            </div>
            <div class="header-text_reviews">
                Компания <span>CARBY</span> - начинающая компания, которая с каждым днем,
                удачно
                продвигается и становится все лучше. Но что, как не отзывы клиентов, лучше всего говорят о качестве
                услуг,
                предоставляемых организацией. Поэтому мы предлагаем Вам убедиться в этом лично!
            </div>
        </div>
        <div class="content-main_reviews">
            <div class="main-items_reviews">
                <div class="main-item_reviews">
                    <div class="image-item_reviews"><img src="/Content/reviews/AvatarReviews.png" alt="" width="140px" height="140px" class="image_reviews"></div>
                    <div class="item-textcontent_reviews">
                        <div class="title-item_reviews">Оксана</div>
                        <div class="car-item_reviews">Автомобиль: BMW M8</div>
                        <div class="text-item_reviews">
                            Хочу выразить огромную благодарность менеджеру салона. Покупал BMW M8. Очень приятный,
                            вежливый, выдержанный и компетентный менеджер Александр, всегда был на связи, отвечал на любые каверзные вопросы.
                            Рекомендую этот салон.
                        </div>
                    </div>
                </div>
                <div class="main-item_reviews">
                    <div class="image-item_reviews"><img src="/Content/reviews/avatarManReviews.png" alt="" width="140px" height="140px" class="image_reviews"></div>
                    <div class="item-textcontent_reviews">
                        <div class="title-item_reviews">Евгений</div>
                        <div class="car-item_reviews">Автомобиль: Tesla Y</div>
                        <div class="text-item_reviews">
                            По телефону менеджеры компании рассказали полную информацию по автомобилю, что
                            подтвердилось после нашего приезда. Автомобиль соответствовал описанию, поэтому покупка состоялась без замедления.
                            Если планируете покупать автомобиль в Бресте, то советую компанию CARBY. Спасибо!
                        </div>
                    </div>
                </div>
                <div class="main-item_reviews">
                    <div class="image-item_reviews"><img src="/Content/reviews/AvatarReviews.png" alt="" width="140px" height="140px" class="image_reviews"></div>
                    <div class="item-textcontent_reviews">
                        <div class="title-item_reviews">Елена</div>
                        <div class="car-item_reviews">Автомобиль: BMW X3</div>
                        <div class="text-item_reviews">
                            Потратив минимум времени, в самые кратчайшие сроки менеджеры CARBY оформили все
                            необходимые документы, взяв на себя все задачи по сопровождению сделки вплоть до заключения договора лизинга, в
                            итоге покупка автомобиля заняла минимум времени и хлопот!
                        </div>
                    </div>
                </div>
                <div class="main-item_reviews">
                    <div class="image-item_reviews"><img src="/Content/reviews/avatarManReviews.png" alt="" width="140px" height="140px" class="image_reviews"></div>
                    <div class="item-textcontent_reviews">
                        <div class="title-item_reviews">Дмитрий</div>
                        <div class="car-item_reviews">Автомобиль: Ford Focus 3</div>
                        <div class="text-item_reviews">
                            Я доволен купленной машиной и надеюсь на дальнейшее сотрудничество и порекомендую
                            знакомым. CARBY — проверенные автомобили.
                        </div>
                    </div>
                </div>
                <div class="main-item_reviews">
                    <div class="image-item_reviews"><img src="/Content/reviews/avatarManReviews.png" alt="" width="140px" height="140px" class="image_reviews"></div>
                    <div class="item-textcontent_reviews">
                        <div class="title-item_reviews">Андрей</div>
                        <div class="car-item_reviews">Автомобиль: Audi A6</div>
                        <div class="text-item_reviews">
                            Я долго искал и решили обратится в CARBY. Ваши специалисты – мастера своего дела. Быстро
                            нашли то, что я хотел и по финансам уложились. Всем знакомым будем вас советовать
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page_info-menu">
        <div class="info-menu_body">
            <div class="info-menu_line">
                <div class="info-menu_label">Информация:</div>
                <ul class="info-menu_list">
                    <li><a href="/Home/Promotions" class="info-menu_link">Акции</a></li>
                    <li><a href="/Home/Reviews" class="info-menu_link">Отзывы</a></li>
                    <li><a href="/Documents.docx" class="info-menu_link">Документы</a></li>
                    <li><a href="/Home/AboutCompany" class="info-menu_link">О компании</a></li>
                </ul>
            </div>
            <div class="info-menu_line">
                <div id="helpOplata">
                    <div id="okno">
                        Оплата производится только на прямую в салоне,<br>
                        после составления всех договоров, документов<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpGarantia">
                    <div id="okno">
                        Гарантия дается на все автомобили, в зависимости от<br>
                        установленого, производителем, срока.<br>
                        В случае поломки, установленной в договоре,<br>
                        автомобиль необходимо своеврменно отдать<br>
                        на ремонт в салон.<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpVozvrat">
                    <div id="okno">
                        Возврат осуществляется только в случае поломки<br>
                        автомобиля, прописаной в договоре.<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div id="helpBron">
                    <div id="okno">
                        Перейдите в каталог, выберите подходящий автомобиль,<br>
                        в таблице выберите подходящую модель, и нажмите<br>
                        на кнопку "Забронировать"<br>
                        <a href="#" class="close">Понятно</a>
                    </div>
                </div>
                <div class="info-menu_label">Помощь:</div>
                <ul class="info-menu_list">
                    <li><a href="#helpBron" class="info-menu_link">Как забронировать</a></li>
                    <li><a href="#helpOplata" class="info-menu_link">Оплата</a></li>
                    <li><a href="#helpGarantia" class="info-menu_link">Гарантия</a></li>
                    <li><a href="#helpVozvrat" class="info-menu_link">Возврат</a></li>
                </ul>
            </div>
        </div>
    </div>
</main>