.page-reviews {

}
.page_content-reviews {

}
.content-header_reviews {
    margin: 30px 0px 50px 0px;
}
.header-title_reviews {
    text-align: center;
    font-size: 35px;
    font-family: "font1";
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}
.title-line_reviews{
    margin: auto;
    border-bottom: 5px solid #f0c60b;
    width: 275px;
    padding: 15px 0px 0px 0px;
}
.header-text_reviews {
    font-family: "font1";
    font-size: 22px;
    margin-left: 8%;
    margin-right: 8%;
}
.header-text_reviews span{
    font-family: "font2";
}
.content-main_reviews {
    margin-left: 8%;
    margin-right: 8%;
}
.main-items_reviews {
    display: block;
}
.main-item_reviews {
    margin-bottom: 30px;
    display: flex;
}
.image-item_reviews {
    
}
.image_reviews{
    border-radius: 100px;
    box-shadow: 0 0 0 3px green, 0 0 13px #333;
}
.item-textcontent_reviews {
    margin: 22px 0px 0px 20px;
}
.title-item_reviews {
    font-size: 22px;
    font-family: "font1";
    font-weight: bold;
    padding-bottom: 5px;
}
.car-item_reviews {
    font-size: 19px;
    font-family: "font1";
    font-weight: bold;
    color: grey;
    padding-bottom: 5px;
}
.text-item_reviews {
    font-size: 17px;
    font-family: "font1";
}